@font-face {
  font-family: 'Ukraine 300 ';
  src: url('./e-Ukraine/e-Ukraine-Light.otf') format('otf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Ukraine 400';
  src: url('./e-Ukraine/e-Ukraine-Regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Ukraine 500 ';
  src: url('./e-Ukraine/e-Ukraine-Medium.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Ukraine 700 ';
  src: url('./e-Ukraine/e-Ukraine-Bold.otf') format('otf');
  font-weight: 700;
  font-style: normal;
}
:root {
  --main-light-color: #ffffff;
  --main-black-color: #222222;
  --main-dark-blue-color: #053778;
  --main-blue-color: #003e7d;
  --main-yellow-color: #f5d665;
  --main-gold-color: #e2cf8a;
  --main-gray-color: #666666;
}

*,
html {
  box-sizing: border-box;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ukraine 400';
  font-style: normal;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
}
.container {
  width: 100%;
  max-width: 1080px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}
.header__phone {
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: var(--main-gold-color);
}
.header__phone ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
}
.header__phone li {
  font-size: 12px;
  color: var(--main-dark-blue-color);
  text-transform: uppercase;
  border-right: 1px solid var(--main-dark-blue-color);
  width: 128px;
}
.header__phone li:nth-child(-n + 2) {
  margin-bottom: 6px;
}
.header__phone li:nth-child(2n) {
  border: 0;
  margin-left: 20px;
}
.header__phone li:last-child {
  text-decoration: underline;
}
.header__nav {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--main-blue-color);
}
.header__nav-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.logo img {
  height: 32px;
}
.header__nav-menu-right-close {
  display: none;
}
.main__btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  border: 0;
}
.btn__white {
  width: 180px;
  background-color: var(--main-light-color);
  color: var(--main-blue-color);
}
.btn__blue {
  width: 180px;
  color: var(--main-light-color);
  background-color: var(--main-blue-color);
}
.header__nav-menu-left .main__btn {
  border: 1px solid var(--main-light-color);
  color: var(--main-light-color);
  font-weight: 400;
  font-size: 12px;
}
.menu__btn .open {
  display: flex;
  width: 114px;
  justify-content: center;
}
.main__btn .open img {
  width: 22px;
  height: 14px;
  margin-right: 13px;
}
.menu__btn .close {
  display: none;
}

.menu {
  display: none;
}
.menu.active {
  position: absolute;
  left: 0;
  top: 208px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: #dbe8f5;
  opacity: 0.97;
}
.menu__btn.active {
  border: 0;
}
.menu__btn.active .close {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  background-color: var(--main-light-color);
  border-radius: 50%;
  border: 0;
}
.menu__btn.active .open {
  display: none;
}
.header__nav-menu-right {
  display: none;
}
.header__nav-menu-right.active {
  display: block;
  width: 100%;
}
.header__nav-menu-right-open {
  display: none;
}
.header__nav-menu-right-open.active {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}
.header__nav-menu-right-open .main__btn {
  width: 152px;
  text-transform: uppercase;

  margin-right: 20px;
}
.header__nav-list-social {
  display: flex;
}
.header__nav-list-social li {
  margin-right: 20px;
}
.header__nav-list-social li:last-child {
  margin-right: 0;
}
.header__nav-list-lang {
  display: none;
}
.menu__container {
  padding-top: 25px;
  padding-bottom: 35px;
}
.menu__item div {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: var(--main-blue-color);
  margin-bottom: 11px;
}
.menu__item div::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--main-blue-color);
  margin-right: 11px;
}
.menu__item ul {
  margin-left: 20px;
  list-style-type: disc;
}
.menu__item li {
  font-size: 14px;
  color: #4a85c1;
  margin-bottom: 15px;
}
.menu__item li:last-child {
  margin-bottom: 25px;
}
.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
.hero__container {
  padding-top: 19px;
  padding-bottom: 189px;
}
.hero__text {
  width: 64%;
}
.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.07;
  color: var(--main-light-color);
}
.hero title {
  margin-bottom: 12px;
}
.hero p {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--main-light-color);
  margin-bottom: 26px;
  width: 77%;
}
.speciality__container {
  padding-bottom: 57px;
}
.speciality__container ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: -95px;
  margin-right: -21px;
  margin-bottom: -28px;
  justify-content: center;
}
.speciality__container li,
.news__list li {
  position: relative;
  max-width: 333px;
  min-height: 458px;
  padding: 30px 21px 48px 21px;
  margin-right: 21px;
  margin-bottom: 28px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 5px 5px;
  border-top: 5px solid;
}
.speciality__container li:nth-child(-n + 3) {
  border-color: var(--main-yellow-color);
}
.speciality__container li:nth-child(n + 4),
.news__list li {
  border-color: var(--main-blue-color);
}

.speciality__info img,
.news__list img {
  width: 291px;
  height: 193px;
  margin: 0 auto;
}
.speciality__info-text {
  padding: 44px 10px 0 10px;
}
.title__secondary {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}
.speciality__info-text .title__secondary,
.news__list .title__secondary {
  color: var(--main-blue-color);
  margin-bottom: 15px;
}
.speciality__info-text span,
.overlay span {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
}
.speciality__info-text span {
  color: var(--main-gray-color);
}
.overlay {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 101%;
  padding: 31px 21px 41px 34px;
  transform: translateY(100%);
  background: linear-gradient(174.41deg, #0a539d 58.02%, #f7f0a0 103.98%);
  border-radius: 0px 0px 5px 5px;
}
.speciality__container li:hover .overlay,
.speciality__container li:focus .overlay {
  display: block;
  transform: translateY(0);
}
.overlay img {
  width: 56px;
  height: 56px;
  margin-bottom: 29px;
}
.overlay .title__secondary {
  color: var(--main-light-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.overlay span {
  color: var(--main-light-color);
  opacity: 0.6;
  margin-bottom: 45px;
}
.banner-order {
  background-color: var(--main-blue-color);
}
.banner-order__container {
  padding-top: 66px;
}
.banner-order__right-part img {
  width: 100%;
  max-width: 993px;
}
.banner-order__img {
  height: 216px;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.advantages__container {
  padding-top: 56px;
  padding-bottom: 66px;
}
.advantages__left-part {
  padding-bottom: 42px;
}
.section__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.07;
  color: var(--main-blue-color);
}
.advantages__left-part .section__title {
  margin-bottom: 30px;
}
.advantages__left-part p,
.advantages__right-part p,
.form-communication-left-part span,
.footer__container span {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
}
.advantages__left-part p {
  color: var(--main-gray-color);
  margin-bottom: 24px;
}
.advantages__left-part a,
.statistics__list span {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.advantages__left-part a {
  text-decoration-line: underline;
  color: var(--main-blue-color);
}
.advantages__right-part li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 28px 23px;
  background-color: var(--main-light-color);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05), inset -5px 4px 35px rgba(111, 153, 137, 0.1);
  border-bottom: 5px solid #013d7a;
  border-radius: 0px 0px 5px 5px;
}
.advantages__right-part img {
  width: 28px;
  height: 28px;
  margin-right: 35px;
}
.advantages__right-part p {
  color: var(--main-black-color);
}
.statistics__container {
  padding-bottom: 30px;
}
.statistics__list {
  background-color: var(--main-light-color);
  padding: 30px 62px 77px 62px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
  border-radius: 0px 0px 15px 15px;
}
.statistics__list li {
  margin-bottom: 70px;
}
.statistics__list li:last-child {
  margin-bottom: 0;
}
.statistics__list p {
  font-weight: 500;
  font-size: 60px;
  color: #023d78;
  text-align: center;
}
.statistics__list span {
  display: block;
  text-align: center;
  color: var(--main-gray-color);
}
.administration__container {
  padding-top: 30px;
  padding-bottom: 35px;
}
.administration__wrap .section__title {
  color: var(--main-light-color);
  margin-bottom: 34px;
}
.btn__list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 41px;
}
.btn__list li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: var(--main-blue-color);
}
.btn__list li:first-child {
  margin-right: 8px;
}
.btn__list li:hover,
.btn__list li:focus {
  background-color: var(--main-yellow-color);
}
.arrow__btn img {
  width: 13px;
  height: 13px;
}
.administration {
  position: relative;
}
.administration__lining {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  width: 100%;
  height: 436px;
  z-index: -1;
  top: -80px;
}
.administration__list li {
  width: 313px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.04);
  border-radius: 0px 0px 5px 5px;
  border-top: 6px solid var(--main-yellow-color);
  margin: 0 auto;
}
.administration__list img {
  width: 313px;
  height: 280px;
}
.administration__list-text {
  padding: 14px 20px 34px 40px;
}
.administration__list-text p {
  width: 80%;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  color: var(--main-blue-color);
}
.line {
  width: 216px;
  height: 1px;
  background-color: var(--main-blue-color);
  margin-top: 22px;
  margin-bottom: 22px;
}
.administration__list-text span {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.21;
  color: var(--main-black-color);
}
.news__container {
  padding-bottom: 60px;
}
.news__wrap .section__title {
  margin-bottom: 34px;
}
.news__list-text {
  padding-top: 28px;
  padding-bottom: 22px;
  padding-right: 40px;
}
.news__list li {
  margin: 0 auto 28px auto;
}
.news__list p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  color: var(--main-gray-color);
}
.form-communication {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  padding-top: 150px;
  padding-bottom: 48px;
}
.form-communication__wrap {
  position: relative;
  border: 1px solid #ffffff;
  border-radius: 15px;
  padding: 51px 25px 126px 25px;
}
.form-communication-left-part p {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.16;
  color: var(--main-light-color);
  margin-bottom: 13px;
}
.form-communication-left-part span {
  display: block;
  color: var(--main-light-color);
  margin-bottom: 22px;
}
.form-communication-right-part input {
  height: 32px;
}
.form-communication-right-part input,
.form-communication-right-part textarea {
  width: 100%;
  background-color: unset;
  border: 0;
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 23px;
  color: var(--main-light-color);
}
.form-communication-right-part input:focus,
.form-communication-right-part textarea:focus {
  outline: none;
  border-bottom: 1px solid var(--main-gray-color);
}
::placeholder {
  color: var(--main-light-color);
}
.form-communication-right-part .main__btn {
  float: right;
}
.form-communication__overlay {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 101%;
  height: 101%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d9d9d9;
  border: 1px solid #ffffff;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}
.form-communication__overlay a {
  position: absolute;
  top: 26px;
  right: 17px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: var(--main-gold-color);
  border-radius: 50%;
}
.form-communication__overlay a img {
  width: 13px;
  height: 13px;
}
.check {
  width: 69px;
  height: 69px;
  margin: 0 auto 12px auto;
}
.form-communication__overlay p {
  font-weight: 700;
  font-size: 30px;
  color: var(--main-blue-color);
  text-align: center;
  margin-bottom: 10px;
}
.form-communication__overlay span {
  display: block;
  font-weight: 400;
  font-size: 12px;
  color: var(--main-blue-color);
  text-align: center;
}
.footer__top,
.footer__bottom {
  background-color: var(--main-blue-color);
}
.footer__top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.footer__top-container {
  padding-top: 51px;
  padding-bottom: 67px;
}
.footer__title {
  font-weight: 500;
  font-size: 18px;
  color: var(--main-light-color);
  margin-bottom: 20px;
}
.footer__container {
  margin-bottom: 50px;
}
.footer__container li {
  margin-bottom: 20px;
}
.footer__container li:last-child {
  margin-bottom: 25px;
}
.footer__container a {
  display: flex;
}
.footer__container span {
  display: flex;
  color: var(--main-light-color);
}
.footer__container span::before {
  content: '';
  display: flex;
  width: 1px;
  height: 18px;
  background-color: #b8b8b8;
  margin-right: 19px;
}
.footer__container img {
  width: 18px;
  height: 18px;
  margin-right: 19px;
}
.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 43px;
}
.footer__social-list li {
  margin-right: 13px;
}
.map__btn {
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  color: var(--main-light-color);
  text-decoration: underline;
}
.map__btn img {
  width: 11px;
  height: 9px;
  margin-left: 7px;
}
.privacy-policy__btn {
  font-weight: 400;
  font-size: 10px;
  color: var(--main-light-color);
  text-decoration: underline;
}
.footer__bottom {
  padding-top: 22px;
  padding-bottom: 33px;
}
.copyright {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
  color: var(--main-light-color);
  margin-top: 23px;
}
.developer {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 9px;
  color: var(--main-light-color);
  margin-top: 23px;
}
.developer img {
  margin-left: 12px;
}
.footer__decoration {
  height: 11px;
  background-color: var(--main-gold-color);
}
@media screen and (min-width: 469px) {
  .hero p {
    width: 58%;
  }
}
@media screen and (min-width: 550px) {
  .banner-order .main__btn {
    margin-bottom: 65px;
  }
  .banner-order__img {
    height: 375px;
    background-size: cover;
  }
}

@media screen and (min-width: 592px) {
  .header__nav-menu-right.active {
    width: auto;
  }
  .header__nav-menu-right-open.active {
    margin-top: 0;
  }
  .menu.active {
    top: 144px;
  }
  .statistics__list {
    display: flex;
    justify-content: space-between;
    padding-top: 85px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 612px) {
  .header__phone ul {
    justify-content: flex-end;
    width: 100%;
  }
  .header__phone li:nth-child(-n + 2) {
    margin-bottom: 0;
  }
  .header__phone li:nth-child(2) {
    border-right: 1px solid var(--main-dark-blue-color);
  }
  .header__phone li:nth-child(3) {
    margin-left: 20px;
  }
  .menu.active {
    top: 123px;
  }
  .title {
    font-size: 48px;
    line-height: 1.25;
    margin-bottom: 18px;
  }
}
@media screen and (min-width: 677px) {
  .footer__wrap {
    display: flex;
    justify-content: space-between;
  }
  .hero p {
    width: 52%;
  }
  .statistics__container {
    padding-bottom: 100px;
  }
  .statistics__list li {
    margin-bottom: 0;
  }
  .administration__container {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .administration__lining {
    height: 604px;
    top: -220px;
  }
  .administration__wrap,
  .news__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .administration__wrap .section__title,
  .news__wrap .section__title {
    margin-bottom: 0;
  }
  .btn__list {
    margin-bottom: 0;
  }
  .administration__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .administration__list li {
    margin: 0;
  }
}
@media screen and (min-width: 727px) {
  .speciality__container li,
  .news__list li {
    flex-basis: calc((100% - 2 * 21px) / 2);
  }
  .news__list {
    display: flex;
    flex-wrap: wrap;
  }
  .news__list li {
    margin-left: 21px;
  }
}
@media screen and (min-width: 749px) {
  .hero p {
    width: 47%;
  }
}

@media screen and (min-width: 768px) {
  .header__nav-menu-right-open.active {
    margin-top: 0;
  }
  .menu__list {
    display: flex;
    justify-content: space-between;
  }
  .menu__item div {
    margin-bottom: 25px;
  }
  .advantages__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .advantages__left-part,
  .advantages__right-part {
    width: 44%;
  }
  .form-communication {
    padding-top: 80px;
  }
  .form-communication__wrap {
    padding: 53px 70px 72px 50px;
  }
  .footer__container span {
    font-size: 14px;
  }
  .footer__bottom-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .copyright,
  .developer {
    margin-top: 0;
  }
}

@media screen and (min-width: 840px) {
  .form-communication__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 36px;
  }
  .form-communication-right-part {
    max-width: 506px;
  }
}

@media screen and (min-width: 1024px) {
  .logo img {
    height: 44px;
  }
  .header__nav-menu-right {
    display: block;
  }
  .header__nav-menu-right.active .header__nav-menu-right-close {
    display: none;
  }
  .header__nav-menu-right-close {
    display: block;
  }
  .header__nav-menu-right-close ul {
    display: flex;
  }
  .header__nav-menu-right-close li {
    font-size: 12px;
    color: var(--main-light-color);
    margin-right: 35px;
  }
  .header__nav-menu-right-close li:last-child {
    margin-right: 0;
  }
  .header__nav-menu-right-open .main__btn {
    margin-right: 116px;
  }
  .header__nav-list-lang {
    display: block;
    color: var(--main-light-color);
    margin-left: 77px;
  }
  .header__nav-list-lang li:first-child a {
    display: flex;
  }
  .header__nav-list-lang li:first-child a img {
    margin-left: 5px;
  }
  .header__nav-list-lang li:last-child {
    display: none;
  }
  .menu.active {
    top: 127px;
  }
  .menu__container {
    padding-top: 33px;
    padding-bottom: 70px;
  }
  .hero p {
    font-size: 16px;
    line-height: 1.62;
    margin-bottom: 20px;
  }
  .speciality__container {
    padding-bottom: 93px;
  }
  .speciality__container li,
  .news__list li {
    flex-basis: calc((100% - 3 * 21px) / 3);
  }
  .section__title {
    font-size: 48px;
    line-height: 1.2;
  }
  .banner-order__container {
    position: relative;
  }
  .banner-order {
    position: relative;
    height: 375px;
    z-index: -20;
  }
  .banner-order__img {
    display: none;
    position: absolute;
    width: 993px;
    top: 0;
    right: 0;
    z-index: -2;
  }
  .form-communication-left-part .banner-order__img {
    display: block;
  }
  .advantages__left-part .section__title {
    margin-bottom: 35px;
  }
  .advantages__left-part p {
    font-size: 16px;
    line-height: 1.62;
    margin-bottom: 50px;
  }
  .statistics__list {
    padding: 85px 94px 60px 94px;
  }
  .news__container {
    margin-bottom: -283px;
  }
  .news__list {
    display: flex;
    justify-content: space-between;
  }
  .form-communication--padding {
    padding-top: 334px;
  }
  .form-communication {
    padding-bottom: 120px;
  }
  .form-communication__wrap {
    padding-left: 92px;
  }
}
